<!DOCTYPE html>
<html>
  <head>
    <title>Cosmetics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="http://maps.google.com/maps/api/js?key={AIzaSyC_jW2Mcxyx852cTy3MBUM3I-gFDEZbnzk}&language=ja"></script>

    <style>
    #gmap {
      height: 400px;
      width: 600px;
    }
    </style>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <%= link_to "ログアウト" ,destroy_admin_session_path,method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
